.sec1{
    background-image: url(7dcf15db1a2caf06510aca7f4986777a.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.img{
    position: absolute;
  
}
.birds{
    position: absolute;
   left: 0px;
   bottom: 0px;
    
}

